<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ Blog.Path }}/styles/post.css">
    <link rel="stylesheet" href="{{ Blog.Path }}/styles/markdown.css">
    <link rel="stylesheet" href="{{ Blog.Path }}/styles/code.css">
    <link rel="stylesheet" href="{{ Blog.Path }}/styles/messages.css">
    <link rel="stylesheet" href="{{ Blog.Path }}/styles/scrollbar.css">
    <title>{{ Post.Title }}</title>
</head>
<body>
    <div class="messages">
        {{#each Response.Errors as |Error|}}
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{Error}}
            </div>
        {{/each}}
    </div>
    <div class="container">
        <div class="blog_post">
            <div class="title">{{ Post.Title }}</div>
            <div class="content">
                {{#markdown Post.HTML}}{{/markdown}}
            </div>
        </div>
        {{#if LoggedIn}}
            <div class="admin_tools">
                <div class="middle">
                    <a href="{{Blog.Path}}/editor/{{Post.ID}}">Edit Post</a>
                    <div class="seperator">&nbsp|&nbsp</div>
                    <div class="button" onclick="deletePost({{Post.ID}})">Delete Post</div>
                </div>
            </div>
        {{/if}}
    </div>
</body>
<footer>
    <script type="text/javascript" src="{{ Blog.Path }}/js/error.js"></script>
    <script type="text/javascript" src="{{ Blog.Path }}/js/post.js"></script>
</footer>
</html>